/* Change all text color */
html, body, [class*="css"]  {
    color: #FF0000 !important;  /* Example: blue text */
}

.stButton>button {
    color: #666;
    background-color: #FADADD;
    height: 4em;
    width: 10em;
}

